*{box-sizing: border-box;}
.maincontainer{
    width: 800px;
    background-color: aliceblue;
    margin: 5em auto;
    padding: 2em;
}
.apptitle{text-align: center;}
.dolistform{margin-top: 2em;}
.formgroup{margin-top: 2em;}
.todo_text{padding: 0.5em; border-radius: 5px; border: solid gray 1px; width: 400px;}
.btnadd, .btn_deleteeach, .btn_deleteall{
    border: none; 
    padding: 0.5em 2em; 
    border-radius: 5px; 
    color: whitesmoke;
}
.btnadd{background-color: olive;}
.btn_deleteall, .btn_deleteeach{
    background-color: crimson; 
}
.btn_deleteall:hover, .btn_deleteeach:hover{
    background-color: darkred;
    font-weight: bolder;
}
.btnadd:hover{
    background-color:crimson;
    cursor: pointer;
}